$color0: #FFBD59;
$color1: #BEA495;
$color2: #A5978E;
$color3: #7B6152;
$color4: #FFF8F3;
$color5: #FAFAFA;
$color6: #000;

@font-face {
	font-family: yeseva;
	src: url(../font/YesevaOne-Regular.ttf);
}

@font-face {
	font-family: comfort;
	src: url(../font/Comfortaa.ttf);
}

@mixin flexrow {
	display: flex;
	justify-content: space-between;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	transition-duration: .3s;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;

	@media (max-width: 768px) {
		font-size: 10px;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.container {
	max-width: 1180px;
	padding: 0px 10px;
	margin: 0 auto;

	@media (max-width: 1000px) {
		& {
			padding: 0px 20px;
		}
	}

	@media (max-width: 768px) {
		& {
			max-width: 640px;
		}
	}

	@media (max-width: 480px) {
		& {
			max-width: 460px;
		}
	}
}

.header {
	font-family: 'comfort', cursive;
	background-color: $color4;
	text-transform: uppercase;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 768px) {
			& {
				padding-top: 0px;
			}
		}
	}
}

.menu {
	&__list {
		display: flex;
		gap: 20px;
	}

	&__link {
		color: $color6;
		text-transform: uppercase;
	}

	&__btn {
		display: none;
		background-color: transparent;
		border: none;
		justify-content: space-between;
		height: 25px;
		width: 30px;
		flex-direction: column;

		@media (max-width: 640px) {
			& {
				display: flex;
			}
		}
	}

	@media (max-width: 640px) {
		&__header {
			order: 1;
		}

		@media (max-width: 520px) {
			&__list-footer {
				flex-direction: column;
				text-align: center;
				margin: 40px 0px;
				gap: 15px;
			}
		}
	}

	&__btn-link {
		height: 1px;
		width: 100%;
		background-color: $color3;
	}

	@media (max-width: 640px) {
		&__list-header {
			display: none;
		}
	}
}

.phonenumber {
	position: relative;
	color: $color6;

	&::before {
		content: '';
		background-size: cover;
		position: absolute;
		height: 15px;
		width: 15px;
		left: -23px;
		background-image: url(../img/phoneicon.svg);

	}

	@media (max-width: 768px) {
		&::before {
			height: 14px;
			width: 14px;
			top: -3px;
			left: -17px;
		}
	}
}

.footer {
	font-family: comfort;
	background-color: $color5;

	&__inner {
		padding-top: 40px;
		padding-bottom: 35px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 880px) {
			& {
				flex-wrap: wrap;
			}
		}
		

		@media (max-width: 520px) {
			& {
				flex-direction: column;
			}
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;

		@media (max-width: 880px) {
			& {
				width: 100%;
				text-align: center;
				padding-top: 15px;
			}
		}
	}

	&__social {
		display: flex;
		gap: 15px;


		@media (max-width: 880px) {
			& {
				justify-content: center;
			}
		}
	}

}

.email {
	margin: 17px 0px;
}