$color0: #FFBD59;
$color1: #BEA495;
$color2: #A5978E;
$color3: #7B6152;
$color4: #FFF8F3;
$color5: #FAFAFA;
$color6: #000;

@font-face {
	font-family: yeseva;
	src: url(../font/YesevaOne-Regular.ttf);
}

@font-face {
	font-family: comfort;
	src: url(../font/Comfortaa.ttf);
}

@mixin buybtn {
	border: none;
	background-color: #FFBD59;
	padding: 18px 54px;
	color: $color6;
	font-family: comfort;
	font-size: 14px;
	font-weight: 600;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	background-color: $color4;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	font-family: comfort;

	@media (max-width: 768px) {
		font-size: 10px;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

button {
	cursor: pointer;
}

.container {
	max-width: 1180px;
	padding: 0px 10px;
	margin: 0 auto;

	@media (max-width: 1000px) {
		& {
			padding: 0px 20px;
		}
	}

	@media (max-width: 768px) {
		& {
			max-width: 640px;
		}
	}

	@media (max-width: 480px) {
		& {
			padding: 0 10px;
		}
	}

}

.header {
	font-family: 'comfort', cursive;
	background-color: $color4;
	text-transform: uppercase;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 768px) {
			& {
				padding-top: 0px;
			}
		}
	}

}

.menu {
	&__list {
		display: flex;
		gap: 20px;
	}

	&__link {
		color: $color6;
		text-transform: uppercase;
	}

	&__btn {
		display: none;
		background-color: transparent;
		border: none;
		justify-content: space-between;
		height: 25px;
		width: 30px;
		flex-direction: column;

		@media (max-width: 640px) {
			& {
				display: flex;
			}
		}
	}

	@media (max-width: 640px) {
		&__header {
			order: 1;
		}
	}

	@media (max-width: 640px) {
		&__list-header {
			z-index: 1;
			width: 153px;
			position: absolute;
			left: 0;
			top: 0;
			gap: 20px 0px;
			transform: translateY(-110%);
			flex-direction: column;
			padding: 25px 35px 25px 45px;
			background-color: $color3;
			transition: .3s;

			& a {
				color: $color4;
			}

			&.menu__btn--open {
				transform: translateY(0%);
			}
		}


	}

	@media (max-width: 520px) {
		&__list-footer {
			flex-direction: column;
			text-align: center;
			margin: 40px 0px;
			gap: 15px;
		}
	}


	&__btn-link {
		height: 1px;
		width: 100%;
		background-color: $color3;
	}
}


.phonenumber {
	position: relative;
	color: $color6;

	&::before {
		content: '';
		background-size: cover;
		position: absolute;
		height: 15px;
		width: 15px;
		left: -23px;
		background-image: url(../img/phoneicon.svg);

	}

	@media (max-width: 768px) {
		&::before {
			height: 14px;
			width: 14px;
			top: -3px;
			left: -17px;
		}
	}
}

.main {
	overflow-x: clip;
}

.top {
	padding: 40px 0 150px;

	@media (max-width: 480px) {
		& {
			padding: 30px 0 50px;
			;
		}
	}

	&__inner {
		position: relative;
	}

	&__content {
		width: 370px;
		padding: 150px 0 250px;

		@media (max-width: 1000px) {
			& {
				padding: 95px 0 70px;
				width: 333px;
			}
		}

		@media (max-width: 768px) {
			& {
				width: 230px;
			}
		}

		@media (max-width: 480px) {
			& {
				width: 180px;
			}
		}

		@media (max-width: 360px) {
			& {
				width: 200px;
				padding: 20px 0 0 0;
			}
		}
	}

	&__title {
		font-family: yeseva;
		font-size: 30px;
		font-weight: normal;
		margin-bottom: 15px;

		@media (max-width: 768px) {
			& {
				font-size: 20px;
				margin-bottom: 20px;
			}
		}

		@media (max-width: 480px) {
			& {
				font-size: 13px;
				margin-bottom: 15px;
			}
		}

		@media (max-width: 360px) {
			& {
				font-size: 15px;
			}
		}
	}

	&__text {
		margin-bottom: 48px;
		font-size: 14px;

		@media (max-width: 768px) {
			& {
				font-size: 10px;
				margin-bottom: 20px;
			}
		}

		@media (max-width: 480px) {
			& {
				font-size: 8px;
				margin-bottom: 15px;
			}
		}

		@media (max-width: 360px) {
			& {
				font-size: 10px;
			}
		}
	}

	&__btn {
		@include buybtn();

		@media (max-width: 480px) {
			& {
				font-size: 10px;
				padding: 14px 41px;
			}
		}
	}

	&__img {
		pointer-events: none;
		user-select: none;
		position: absolute;
		top: 0;
		left: 240px;

		@media (max-width: 1000px) {
			& {
				left: 300px;
			}

			&-content {
				max-width: 655px;
			}
		}

		@media (max-width: 768px) {
			& {
				left: 180px;
			}
		}

		@media (max-width: 480px) {
			&-content {
				width: 309px;
				left: 167px;
			}
		}

		@media (max-width: 360px) {
			&-content {
				width: 170px;
			}
		}

		@media (max-width: 360px) {
			& {
				left: auto;
				right: 0;
			}
		}
	}
}



.about {
	background-color: $color2;
	color: $color4;
	padding: 50px 0 50px;

	@media (max-width: 360px) {
		& {
			padding: 25px 0 10px;
		}
	}

	&__container {
		display: flex;
		align-items: center;

		@media (max-width: 480px) {
			& {
				align-items: flex-end;
			}
		}

		@media (max-width: 360px) {
			& {
				align-items: center;
			}
		}
	}



	&__left-side {
		min-width: 370px;

		@media (max-width: 1000px) {
			& {
				min-width: 300px;
			}
		}

		@media (max-width: 768px) {
			& {
				min-width: 200px;
			}
		}

		@media (max-width: 480px) {
			& {
				min-width: 173px;
			}
		}

		@media (max-width: 360px) {
			& {
				min-width: 235px;
			}
		}

	}

	&__title {
		font-size: 40px;
		font-family: yeseva;
		font-weight: normal;
		margin-bottom: 15px;

		@media (max-width: 768px) {
			& {
				font-size: 15px;
			}
		}

		@media (max-width: 360px) {
			& {
				font-size: 15px;
				margin-bottom: 10px;
			}
		}
	}

	&__text {
		font-size: 14px;
		font-family: comfort;
		margin-bottom: 15px;

		@media (max-width: 768px) {
			& {
				font-size: 10px;
			}
		}

		@media (max-width: 480px) {
			& {
				width: 171px;
			}
		}

		@media (max-width: 360px) {
			& {
				width: 235px;
				font-size: 8px;
				margin-bottom: 10px;
			}
		}
	}

	&__list {
		padding-left: 109px;
		display: flex;
		align-items: center;
		gap: 0 20px;
		position: relative;
		padding-bottom: 49px;

		@media (max-width: 1000px) {
			& {
				padding-left: 20px;
			}
		}

		@media (max-width: 768px) {
			& {
				margin-left: 27px;
				padding-bottom: 30px;
				gap: 0 10px;
			}
		}

		@media (max-width: 480px) {
			& {
				margin-left: 0;
				padding-bottom: 50px;
				padding-left: 10px;
				margin-bottom: 0px;
				gap: 0 5px;
				align-items: flex-end;
			}
		}

		@media (max-width: 360px) {
			& {
				padding-bottom: 35px;
				align-items: flex-end;
				margin-left: 14px;
			}
		}

		&::before {
			content: '';
			bottom: 0;
			left: 0;
			width: 22px;
			height: 30px;
			background-repeat: no-repeat;
			position: absolute;
			background-image: url(../img/about__deco.svg);
		}

		&::after {
			bottom: 13px;
			left: 20px;
			width: 500%;
			height: 1px;
			background-color: #7B6152;
			content: '';
			position: absolute;
		}
	}

	&__item-text {
		font-size: 11px;

		@media (max-width: 768px) {
			& {
				font-size: 6px;
			}
		}

		@media (max-width: 480px) {
			& {
				display: none;
			}
		}
	}

	&__img {
		margin-bottom: 10px;
		display: block;

		@media (max-width: 768px) {
			& {
				margin-bottom: 5px;
			}

			&--img-1 {
				width: 120px;
			}

			&--img-2 {
				width: 190px;
			}

			&--img-3 {
				width: 120px;
			}
		}

		@media (max-width: 480px) {
			& {
				margin-bottom: 5px;
			}

			&--img-1 {
				width: 80px;
			}

			&--img-2 {
				width: 140px;
			}

			&--img-3 {
				width: 80px;
			}
		}

		@media (max-width: 360px) {
			& {
				margin-bottom: 0px;
			}

			&--img-1 {
				width: 80px;
				padding-top: 14px;
			}

			&--img-2 {
				display: none;
			}

			&--img-3 {
				display: none;
			}
		}
	}
}













.footer {
	font-family: comfort;
	background-color: $color5;

	&__inner {
		padding-top: 40px;
		padding-bottom: 35px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 880px) {
			& {
				flex-wrap: wrap;
			}
		}


		@media (max-width: 520px) {
			& {
				flex-direction: column;
			}
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;

		@media (max-width: 880px) {
			& {
				width: 100%;
				text-align: center;
				padding-top: 15px;
			}
		}
	}

	&__social {
		display: flex;
		gap: 15px;


		@media (max-width: 880px) {
			& {
				justify-content: center;
			}
		}
	}

}

.email {
	margin: 17px 0px;
}